<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Yakınınızdaki Payinall indirim noktalarını haritada göstermek için konumunuz kullanılır.</string>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>Payinall</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleLocalizations</key>
		<array>
			<string>tr</string>
		</array>
		<key>CFBundleName</key>
		<string>payinall</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLName</key>
				<string>com.erpapay.payinall</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>payinall</string>
				</array>
			</dict>
		</array>
		<key>LSApplicationQueriesSchemes</key>
		<array>
			<string>undecimus</string>
			<string>sileo</string>
			<string>zbra</string>
			<string>filza</string>
			<string>activator</string>
			<string>cydia</string>
			<string>http</string>
			<string>https</string>
			<string>mailto</string>
			<string>file</string>
			<string>sms</string>
			<string>tel</string>
		</array>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>NSAppTransportSecurity</key>
		<dict>
			<key>NSExceptionDomains</key>
			<dict>
				<key>localhost</key>
				<dict>
					<key>NSExceptionAllowsInsecureHTTPLoads</key>
					<true/>
					<key>NSIncludesSubdomains</key>
					<true/>
				</dict>
				<key>127.0.0.1</key>
				<dict>
					<key>NSExceptionAllowsInsecureHTTPLoads</key>
					<true/>
					<key>NSIncludesSubdomains</key>
					<true/>
				</dict>
			</dict>
		</dict>
		<key>NFCReaderUsageDescription</key>
		<string>NFC erişimi, kimlik kartı okuma işlemleri için gereklidir</string>
		<key>NSCameraUsageDescription</key>
		<string>Kamera erişimi, fotoğraf çekmek, yüz tanıma ve QR kod okuma işlemleri için gereklidir</string>
		<key>NSContactsUsageDescription</key>
		<string>Rehber erişimi, para gönderme işlemlerinde kişi seçmek için gereklidir</string>
		<key>com.apple.developer.nfc.readersession.iso7816.select-identifiers</key>
		<array>
			<string>A0000002471001</string>
		</array>
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true/>
		<key>UIBackgroundModes</key>
		<array>
			<string>remote-notification</string>
		</array>
		<key>UIDeviceFamily</key>
		<array>
			<integer>1</integer>
		</array>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UIStatusBarHidden</key>
		<false/>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
		</array>
		<key>com.apple.developer.associated-domains</key>
		<array>
			<string>applinks:payinall.com</string>
			<string>applinks:www.payinall.com</string>
		</array>
		<key>io.flutter.embedded_views_preview</key>
		<true/>
	</dict>
</plist>
